
<% include partials/header %>	
<div class="wrapper">
<li class = "add-device"><a class="active" href="/adddevice">Add device</a></li>
<table class="table table-hover table-sm">
  <thead>

    <tr>
      <th scope="col">No</th>
      <th>DeviceID</th>
      <th>CloudKey</th>
      <th>Device Name</th>
    </tr>
  </thead>
  <tbody>
  	<% if(data.length){ 
    	for(var i = 0;i < data.length;i++) { %>
		    <tr>
		      <th scope="row"><%=(i+1)%></th>
          <td><a href="/mapdevice/<%=data[i].DeviceID%>"><%=data[i].DeviceID%></a></td>
          <td><%=data[i].CloudKey%></td>
          <td><%=data[i].devicename%></td>

		    </tr>
		     <% }
 	 }else{ %>
  <tr>
    <td>No Devices</td>
  </tr>
	<% } %>
  </tbody>
</table>
</div>
<% include partials/footer %>