
<% include partials/header2 %>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Devices Table</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Devices registered</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            
                            <div><h3 class="box-title">Device Table</h3> <a href="/adddevice" class="btn btn-danger btn-rounded pull-right m-l-20 btn-outline waves-effect waves-light">Add Devices</a>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Device Name</th>
                                            <th>Device ID</th>
                                            <th>Cloud Key</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <% if(data.length){ 
                                        for(var i = 0;i < data.length;i++) { %>
                                        <tr>
                                            <td><%=(i+1)%></td>
                                            <td class="txt-oflo"><%=data[i].devicename%></td>
                                            <td><%=data[i].DeviceID%></td>
                                            <td class="txt-oflo"><%=data[i].CloudKey%></td>
                                            <td><a href="/device/edit/<%=data[i].DeviceID%>">EDIT</a></td>
                                            <td><a href="/device/delete/<%=data[i].DeviceID%>">DELETE</a></td>
                                        </tr>
                                        <% }
                                     }else{ %>
                                  <tr>
                                    <td>No Devices</td>
                                  </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <% include partials/footer2 %>

