
<% include partials/header %>	
<table class="table table-hover table-sm">
  <thead>
    <tr>
   	<th>DeviceID</th>
    <th>CloudKey</th>
    <th>Device Name</th>
    </tr>
  </thead>
  <tbody>
  	<% if(data.length){ 
    	for(var i = 0;i < data.length;i++) { %>
		    <tr>
		      <th scope="row"><%=(i+1)%></th>
		      <td><a href="/mapdevice/<%=data[i].DeviceID%>"><%=data[i].DeviceID%></a></td>
    		  <td><%=data[i].CloudKey%></td>
    		  <td><%=data[i].devicename%></td>
		    </tr>
		     <% }
 	 }else{ %>
  <tr>
    <td>No devices</td>
  </tr>
	<% } %>
  </tbody>
</table>
<% include partials/footer %>