

<% include partials/header2 %>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Basic Table</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="/groupdevices" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">BACK</a>
                        <ol class="breadcrumb">
                            <li><a href="/index2">Dashboard</a></li>
                            <li class="active">Basic Table</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Basic Table</h3>

                            <form action="/mapdevice" method="post">
                            <label>Group name: </label>
                            <input type="text" name="groupname" required minlength="5" maxlength="16">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th width="50px">No</th>
                                          <th>DeviceID</th>
                                          <th>CloudKey</th>
                                          <th>Device Name</th>
                                          <th>User ID</th>
                                        </tr>
                                      </thead>
                                        <% if(data.length){ 
                                          for(var i = 0;i < data.length;i++) { %>
                                        <tr>
                                          <td><%=(i+1)%></td>
                                          <td><a href="/device/<%=data[i].DeviceID%>"><%=data[i].DeviceID%></a></td>
                                          <td><%=data[i].CloudKey%></td>
                                          <td><%=data[i].devicename%></td>
                                          <td><%=data[i].id%></td>
                                          <td><input type="checkbox" name="checkbox" value="<%=data[i].DeviceID%>" />&nbsp;</td>
                                        </tr>

                                        <% }
                                        }else{ %>
                                        <tr>
                                          <td colspan="3">No devices</td>
                                        </tr>
                                      <% } %>
                                    </tbody>
                                </table>
                                <input type="submit" value="Add device">
                            </div>
                            </form>
                            <h3><%= error %></h3>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
<% include partials/footer2 %>
